/*→This is the custom font←*/
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*→This is to adjust the content of the body←*/
body {
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
    font-family: "Bebas Neue", sans-serif;
    font-size: 150%;
    text-align: center;
    position: relative;
    margin: 0;
    flex-direction: column;
    padding: 0;
    min-height: 88%; /*the biggest percentage possibel before a scroll bar is needed*/
    /* padding-bottom: 109px; */
    padding-bottom: 17px;/*Original value was 109px*/
}

.container {
    background-color: #FFFFFF80;
    transition: margin-top 0.3s ease; /* Smooth transition for margin-top */
    border-radius: 10px;
    max-width: 500px;
    font-size: 150%;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.btn {
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 40px; /* Set the height of your footer */
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 0px; /* Center the text vertically */
    position: absolute; /* Adjusts position to absolute */
    bottom: 0%; /* Positions the footer at the bottom of the page */
}

/* Adjustments for different viewport sizes based on width and height */
@media (max-width: 1024px) {
    .button-container {
        margin-top: 250px; 
    }
}

@media (max-width: 896px) {
    .button-container {
        margin-top: 225px;
    }
}

@media (max-width: 768px) {
    .button-container {
        margin-top: 200px;
    }
}

@media (max-width: 640px) {
    .button-container {
        margin-top: 175px; 
    }
}
/*meowmeowmeow*/
@media (max-height: 1024px) {
    .button-container {
        margin-top: 250px; 
    }
}

@media (max-height: 896px) {
    .button-container {
        margin-top: 200px;
    }
}

@media (max-height: 768px) {
    .button-container {
        margin-top: 150px;
    }
}

@media (max-height: 640px) {
    .button-container {
        margin-top: 100px; 
    }
}

@media (max-height: 512px) {
    .button-container {
        margin-top: 50px; 
    }
    .button-container {
        display: inline;
    }
}

@media (max-height: 384px) {
    .button-container {
        margin-top: 0px; 
    }
    .button-container {
        display: inline;
    }
}