<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <div class="navbar">
      <a href="home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="profile"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a class="active" href="about"><i class="fa fa-info-circle"></i> About</a>
      <a href="myGames"><i class="fa fa-book"></i> My Games</a>
      <span class="moyai-title">Moyai</span>
      <form action="/search" method="get">
        <div class="search-container">
            <input type="text" placeholder="Search for games..." name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <a class="split" href="logout"><i class="fa fa-fw fa-sign-out"></i> Log out</a>
      <a class="splitb">Welcome, {{ name }}</a>
    </div>
  </head>
  
  {% extends 'base.html' %}
  
  {% block content %}
  <div class="container">
    <h1>About Moyai</h1>
    <h2>Moyai was created as an online video game information hub that is unbiased in its presentation of facts.
    </h2>
    <h2>Users have the ability to create accounts which includes email validaton.
       They then can add games they want to track and search for new ones. </h2>

  </div>

  {% endblock %}
