<!-- main template all other templates will pull stuff from this template.
-->
<!-- This is the results of the game search -->
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    {% include 'navbar.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
<footer>
    <p>&copy; 2024 Moyai App. All rights reserved.</p>
</footer>
</html>
