<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navbar">
      <a href="home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="profile"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a href="about"><i class="fa fa-info-circle"></i> About</a>
      <a href="myGames"><i class="fa fa-book"></i> My Games</a>
      <span class="moyai-title">Moyai</span>
      <form action="/search" method="get">
        <div class="search-container">
            <input type="text" placeholder="Search for games..." name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <a class="split" href="logout"><i class="fa fa-fw fa-sign-out"></i> Log out</a>
      <a class="splitb">Welcome, {{ name }}</a>
  </div>
  <title>Game Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

{% extends 'base.html' %}

{% block content %}
<body>
    <main>
        <section id="game-info">
            <h2>{{ game_name }}</h2>
            {% if game_in_library %}
                <form action="{{ url_for('remove_from_library', game_id=game.id) }}" method="post">
                    <button type="submit">Remove from Library</button>
                </form>
            {% else %}
                <form action="{{ url_for('add_to_library', game_id=game.id) }}" method="post">
                    <button type="submit">Add to Library</button>
                </form>
            {% endif %}
            <img src="{{ cover_image_url }}" alt="{{ game_name }} cover image">
            <p><strong>Trailer:</strong></p>
            {% if youtube_trailer_url %}
                <iframe width="560" height="315" src="{{ youtube_trailer_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <p>Trailer not available.</p>
            {% endif %}         
            <p><strong>Description:</strong> Placeholder Description</p>
            <p><strong>Tags:</strong> Placeholder Tags</p>
            <p><strong>Developer:</strong> Placeholder Developer</p>
            <p><strong>Publisher:</strong> Placeholder Publisher</p>
            <p><strong>Release Date:</strong> Placeholder Release Date</p>
            <p><strong>Current Retail Price:</strong> {{ current_price }}</p>
            <p><strong>Highest Historical Price:</strong> {{ highest_price }}</p>
            <p><strong>Lowest Historical Price:</strong> {{ lowest_price }}</p>
            <section id="game-vendors">
                <h3>Current Deals</h3>
                {% if deals %}
                    <ul>
                        {% for deal in deals %}
                            <li><a href="{{ deal.dealUrl }}" target="_blank">{{ deal.store }}</a> - ${{ deal.salePrice }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No active deals! Check back tomorrow!</p>
                {% endif %}
            </section>
            <p><strong>Current Number of In-Game Players:</strong> {{ total_ingame }}</p>
            <p><strong>Upvotes:</strong> {{ total_upvote }}</p>
            <p><strong>Downvotes:</strong> {{ total_downvote }}</p>
            <p><strong>This percentage of players love the game:</strong> {{ upvote_percentage }}</p>
            <p><strong>IGN Score: {{ ign_score }}</p>
            <p><strong>Latest Updates:</strong> Placeholder news</p>
            <p><strong>Minimum System Requirements:</strong></p>
                <p>Placeholder Requirements</p>
            <p><strong>Recommended System Requirements:</strong></p>
                <p>Placeholder Requirements</p>
        </section>
    </main>
</body>
</html>
{% endblock %}