<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navbar">
      <a href="home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="profile"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a href="settings"><i class="fa fa-fw fa-gears"></i> Settings</a>
      <form action="/search" method="get">
        <div class="search-container">
            <input type="text" placeholder="Search for games..." name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <a class="split" href="logout"><i class="fa fa-fw fa-sign-out"></i> Log out</a>
      <a class="splitb">Welcome, {{ name }}</a>
  </div>
  <title>Game Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

{% extends 'base.html' %}

{% block content %}
<body>
    <main>
        <section id="game-info">
            <h2>{{ game_name }}</h2>
            <img src="{{ cover_image_url }}" alt="{{ game_name }} cover image">
            <p><strong>Photos and Videos:</strong> <a href="#">Watch Trailer</a></p>
            <p><strong>Description:</strong> This is a description of the game.</p>
            <p><strong>Tags:</strong> Placeholder Tags</p>
            <p><strong>Developer:</strong> Game Developer</p>
            <p><strong>Publisher:</strong> Game Publisher</p>
            <p><strong>Release Date:</strong> Placeholder Date</p>
            <p><strong>Current Price:</strong> {{ current_price }}</p>
            <p><strong>Highest Historical Price:</strong> {{ highest_price }}</p>
            <p><strong>Lowest Historical Price:</strong> {{ lowest_price }}</p>
            <p><strong>Current Number of In-Game Players:</strong> {{ total_ingame }}</p>
            <p><strong>Upvotes:</strong> {{ total_upvote }}</p>
            <p><strong>Downvotes:</strong> {{ total_downvote }}</p>
            <p><strong>This percentage of players love the game:</strong> {{ upvote_percentage }}</p>
            <p><strong>Rating:</strong> Placeholder #/10</p>
            <p><strong>Latest Updates:</strong> <a href="#">View Updates</a></p>
            <p><strong>System Requirements:</strong> PLACEHOLDER min and max</p>
        </section>
    </main>
</body>
</html>
{% endblock %}