<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <div class="navbar">
    <a class="splitb">Not signed in</a>
  </div>
</head>

{% extends 'base.html' %}

{% block content %}

<body>
  <title>Moyai</title>
  <link rel="stylesheet" href="style.css">
  <div class="button-container">
    <div class="main-title">Welcome to Moyai!</div>
    <button type="button1" class="btn btn-lg btn-primary btn-block" onclick="location.href='signup';">Sign up</button>
    
    <button type="button2" class="btn btn-lg btn-primary btn-block" onclick="location.href='login';">Log in</button>
  </div>
</body>

{% endblock %} 


